.tab-content { 
	margin: 5px 0 0 ;
	top: 10px;
	border: 1px solid #666;
	> div {
		display: none;
		padding: 25px 20px 15px;
		&:first-child {
			display: block;
		}
		P {
			color: #333;
			margin: 0 0 10px;
		}
	}
}
